In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/Prajwal Amin/Desktop/MCA/3RD SEM/AI & ML/LAB/knn.csv")
df

    Sepal Length  Sepal Width      Species
0            5.3          3.7       Setosa
1            5.1          3.8       Setosa
2            7.2          3.0    Virginica
3            5.4          3.4       Setosa
4            5.1          3.3       Setosa
5            5.4          3.9       Setosa
6            7.4          2.8    Virginica
7            6.1          2.8  Verscicolor
8            7.3          2.9    Virginica
9            6.0          2.7  Verscicolor
10           5.8          2.8    Virginica
11           6.3          2.3  Verscicolor
12           5.1          2.5  Verscicolor
13           6.3          2.5  Verscicolor
14           5.5          2.4  Verscicolor

In [3]:
x=df['Sepal Length'].values
x

array([5.3, 5.1, 7.2, 5.4, 5.1, 5.4, 7.4, 6.1, 7.3, 6. , 5.8, 6.3, 5.1,
       6.3, 5.5])

In [4]:
y=df['Sepal Width'].values
y

array([3.7, 3.8, 3. , 3.4, 3.3, 3.9, 2.8, 2.8, 2.9, 2.7, 2.8, 2.3, 2.5,
       2.5, 2.4])

In [5]:
z=df['Species'].values
z

array(['Setosa', 'Setosa', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Verscicolor', 'Virginica', 'Verscicolor',
       'Virginica', 'Verscicolor', 'Verscicolor', 'Verscicolor',
       'Verscicolor'], dtype=object)

In [6]:
import math 
k=math.sqrt(len(x))
round(k+1)

5

In [10]:
sl=float(input("Enter sepal Length"))
sw=float(input("Enter sepal Width"))

Enter sepal Length5.1
Enter sepal Width3.1

In [11]:
n=len(x)
n

15

In [12]:
ls=[]
for i in range(15):
    v1=((x[i]-sl)**2)
    v2=((y[i]-sw)**2)
    d=math.sqrt(v1+v2)
    ls.append(d)
    #print(d)   

ls

[0.632455532033676,
 0.6999999999999997,
 2.102379604162864,
 0.4242640687119289,
 0.19999999999999973,
 0.8544003745317532,
 2.319482700948641,
 1.044030650891055,
 2.209072203437452,
 0.9848857801796107,
 0.7615773105863911,
 1.442220510185596,
 0.6000000000000001,
 1.341640786499874,
 0.8062257748298554]

In [13]:
ls
len(ls)

15

In [14]:
for i in range(n):
    ls[i]==0.2236

print(z[i])    
print(i)

Verscicolor
14

In [15]:
pair=zip(z,ls)

In [16]:
from operator import itemgetter
from heapq import nsmallest

result = nsmallest(5, pair, key=itemgetter(1))
print(result)

[('Setosa', 0.19999999999999973), ('Setosa', 0.4242640687119289), ('Verscicolor', 0.6000000000000001), ('Setosa', 0.632455532033676), ('Setosa', 0.6999999999999997)]

In [17]:
def Extract(lst):
    return list(list(zip(*lst))[0])

In [18]:
k=[]
k=Extract(result)
k

['Setosa', 'Setosa', 'Verscicolor', 'Setosa', 'Setosa']

In [19]:
s=0
vir=0
ver=0
ll=len(k)
for i in range(ll):
    if k[i]=='Setosa':
        s+=1
    elif k[i]=="Virginica":
        vir+=1
    elif k[i]=="Verscicolor":
        ver+=1

In [20]:
p=max(s,vir,ver)
p

4

In [21]:
if s>vir:
    if s>vir:
        print("Belongs to Setosa")
    else:
        print("Belongs to Virginica")
else:
    if vir>ver:
        print("Belongs to Virginica")
    else:
        print("Belongs to Verscicolor")

Belongs to Setosa