In [1]:
import numpy as np
import pandas as pd
import math

df = pd.read_csv("C:/Users/Prajwal Amin/Desktop/MCA/3RD SEM/AI & ML/LAB/temp.csv")
df

     Outlook Temperature Humidity    Wind Play
0      sunny         hot     high    weak   no
1      sunny         hot     high  strong   no
2   overcast         hot     high    weak  yes
3       rain        mild     high    weak  yes
4       rain        cool   normal    weak  yes
5       rain        cool   normal  strong   no
6   overcast        cool   normal  strong  yes
7      sunny        mild     high    weak   no
8      sunny        cool   normal    weak  yes
9       rain        mild   normal    weak  yes
10     sunny        mild   normal  strong  yes
11  overcast        mild     high  strong  yes
12  overcast         hot   normal    weak  yes
13      rain        mild     high  strong   no

In [2]:
ol=df['Outlook'].values
ol

array(['sunny', 'sunny', 'overcast', 'rain', 'rain', 'rain', 'overcast',
       'sunny', 'sunny', 'rain', 'sunny', 'overcast', 'overcast', 'rain'],
      dtype=object)

In [3]:
pl=df['Play'].values
pl

array(['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no'], dtype=object)

In [7]:
yc=0
nc=0
for i in pl:
    if i=="yes":
        yc+=1
    else:
        nc+=1
       
print(yc,nc)
tc=yc+nc
tc

9 5

14

In [9]:
sc=0
rc=0
oc=0
for i in ol:
    if i=='sunny':
        sc+=1
    elif i=='rain':
        rc+=1
    else:
        oc+=1
        
print(sc,rc,oc)

5 5 4

In [11]:
ssc=0
snc=0
rsc=0
rnc=0
osc=0
onc=0
for i,j in zip(ol,pl):
    if i=='sunny' and j=='yes':
        ssc+=1
    if i=='sunny' and j=='no':
        snc+=1
    if i=='rain' and j=='yes':
        rsc+=1
    if i=='rain' and j=='no':
        rnc+=1
    if i=='overcast' and j=='yes':
        osc+=1
    if i=='overcast' and j=='no':
        onc+=1

print(ssc,snc)
print(rsc,rnc)   
print(osc,onc)

2 3
3 2
4 0

In [18]:
en=-((yc/tc)*math.log2(yc/tc))-(((nc/tc)*math.log2(nc/tc)))

In [19]:
print(en)

0.9402859586706311

In [20]:
sen=-((ssc/sc)*math.log2(ssc/sc))-((snc/sc)*math.log2(snc/sc))
sen

0.9709505944546686

In [23]:
ren=-((rsc/rc)*math.log2(rsc/rc))-((rnc/rc)*math.log2(rnc/rc))
ren

0.9709505944546686

In [27]:
try:oen=-((osc/oc)*math.log2(osc/oc))-((onc/oc)*math.log2(onc/oc))
except:oen=0
print(oen)

0

In [29]:
gen=en-(sc/tc)*sen-(rc/tc)*ren-(oc/tc)*oen
gen

0.24674981977443933